<footer>
	<nav class="footer-nav">
		<section class="layout-footer">
			<div class="footer-one">
				<ul>
					<li>About Us</li>
					<li><a href="http://afarnyc.org/whatwedo">What We Do</a></li>
					<li><a href="http://afarnyc.org/about">About</a></li>
					<li><a href="http://afarnyc.org/vetspets">Vets Pets</a></li>
					<li><a href="http://afarnyc.org/broadwaybeds">Broadway Beds</a></li>
				</ul>
				<ul>
					<li>Resources</li>
					<li><a href="http://afarnyc.org/adopt">Adopt</a></li>
					<li><a href="http://afarnyc.org/foster">Foster</a></li>
					<li><a href="http://afarnyc.org/legislation">Legislation</a></li>
					<li><a href="http://afarnyc.org/crueltyfree">CF Living</a></li>
				</ul>
			</div><!-- footer-one -->
			<div class="footer-two">
				<ul>
					<li>Cruelty Free</li>
					<li><a href="http://afarnyc.org/leisure">Leisure</a></li>
					<li><a href="http://afarnyc.org/fashion">Fashion</a></li>
					<li><a href="http://afarnyc.org/foods">Foods</a></li>
				</ul>
				<ul>
					<li>Get Involved</li>
					<li><a href="http://afarnyc.org/volunteer">Volunteer</a></li>
					<li><a href="http://afarnyc.org/donate">Donate</a></li>
					<li><a href="http://afarnyc.org/sponsorship">Sponsorship</a></li>
				</ul>
			</div><!-- footer-two -->
			<div class="footer-three">
				<ul class="contact-list">
					<li>Get in touch by contacting us directly and following us on social media</li>
					<li><a><i class="fa fa-phone"></i>&nbsp;&nbsp;(917)287-4802</a></li>
					<li><a href="http://afarnyc.org/contact"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email us</a></li>
					<li><a href="/"><i class="fa fa-rss"></i>&nbsp;&nbsp;Blog</a></li>
				</ul><!-- contact-list -->
				<ul class="social-list">
					<li><a href="https://www.facebook.com/AngelsForAnimalRights" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
					<li><a href="https://twitter.com/afarnyc" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
					<li><a href="http://instagram.com/afarnyc" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
					<li><a href="http://tinyurl.com/kr9lejw" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
				</ul><!-- social-list -->
			</div><!-- footer-three -->
		</section><!-- layout -->
		<section class="layout">
			<hr>
			<span class="footer-bottom">
				&copy; 2015 Angels for Animal Rights is a 501(c)(3)&nbsp;&nbsp;|&nbsp;&nbsp;Powered by&nbsp;&nbsp;<a href="http://soriano-designs.com" target="_blank"><i class="fa fa-leaf"></i>&nbsp;Soriano Designs</a>
			</span>
		</section>
	</nav><!-- footer-nav -->
</footer>