
<nav id="menu" class="menu slideout-menu">
  <a href="http://afarnyc.org">
    <section class="menu-section">
        <h3 class="menu-section-title"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;Home</h3>
    </section>
  </a>
  <a href="http://afarnyc.org/whatwedo">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-paw fa-lg"></i>&nbsp;&nbsp;What We Do</h3>
    </section>
  </a>
  <a href="http://afarnyc.org/about">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;About Us</h3>
    </section>
  </a>
  <a href="http://afarnyc.org/programs">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-support fa-lg"></i>&nbsp;&nbsp;Programs</h3>
    </section>
  </a>
  <section class="menu-section">
    <ul class="menu-section-list">
      <li><a href="http://afarnyc.org/vetspets">Vets' Pets</a></li>
      <li><a href="http://afarnyc.org/broadwaybeds">Broadway Beds</a></li>
    </ul>
  </section>
  <a href="http://afarnyc.org/resources">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-info-circle fa-lg"></i>&nbsp;&nbsp;Resources</h3>
    </section>
  </a>
  <section class="menu-section">
    <ul class="menu-section-list">
      <li><a href="http://afarnyc.org/adopt">Adopt</a></li>
      <li><a href="http://afarnyc.org/foster">Foster</a></li>
      <li><a href="http://afarnyc.org/legislation">Legislation</a></li>
      <li><a href="http://afarnyc.org/crueltyfree">Cruelty Free</a></li>
    </ul>
  </section>
  <a href="/">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-rss fa-lg"></i>&nbsp;&nbsp;Blog</h3>
    </section>
  </a>
  <a href="http://afarnyc.org/volunteer">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-child fa-lg"></i>&nbsp;&nbsp;Volunteer</h3>
    </section>
  </a>
  <a href="http://afarnyc.org/donate">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;Donate</h3>
    </section>
  </a>
  <section class="menu-section">
    <ul class="menu-section-list">
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=H8C5VRPLM8ZMN">Donation</a></li>
      <li><a href="http://afarnyc.org/sponsorship">Sponsorship</a></li>
    </ul>
  </section>
  <a href="http://afarnyc.org/contact">
    <section class="menu-section">
      <h3 class="menu-section-title"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Contact Us</h3>
    </section>
  </a>
</nav><!-- menu slideout-menu -->

<main id="panel">
  <nav class="nav-mobile">
    <div class="toggle-button"><i class="fa fa-bars fa-2x"></i></div><!-- toggle-button -->
    <a href="http://afarnyc.org"><div class="logo-nav"></div></a>
  </nav><!-- nav-mobile -->