{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/AngelsForAnimalRights" target="_blank" title="Facebook">
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/afarnyc" target="_blank" title="Twitter"> 
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="google">
		<a href="https://plus.google.com/115976090698102902032/about" target="_blank" title="Google"> 
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="linkedin">
		<a href="http://tinyurl.com/kr9lejw" target="_blank" title="LinkedIn"> 
			<i class="fa fa-linkedin"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}