<nav id="nav-fixed" class="nav-main">
	<section class="layout">
		<ul>
		  <li><a href="http://afarnyc.org" class="nav-logo">afar</a></li>
	      <li class="a-whatwedo"><a href="http://afarnyc.org/whatwedo">What We Do</a></li>
	      <li class="a-about"><a href="http://afarnyc.org/about">About</a></li>
	      <li class="a-programs"><a href="http://afarnyc.org/programs">Programs</a></li>
	      <li class="a-resources"><a href="http://afarnyc.org/resources">Resources</a></li>
	      <li class="a-blog"><a href="/">Blog</a></li>
	      <li class="a-volunteer"><a href="http://afarnyc.org/volunteer">Volunteer</a></li>
	      <li class="a-donate"><a href="http://afarnyc.org/donate">Donate</a></li>
	      <li class="a-contact"><a href="http://afarnyc.org/contact">Contact</a></li>
	    </ul>
  </section><!-- layout -->
</nav><!-- main-nav -->